%h1= t(:<%= plural_name %>_title)

- if @<%= plural_name %>.present?
  = render "<%= plural_name %>/table", :<%= plural_name %> => @<%= plural_name %>
- else
  %p= t(:no_<%= plural_name %>_note)

= link_to t(:new_<%= singular_name %>_link), new_<%= singular_name %>_path
