<% attributes.each do |attribute| -%>
%p
  %strong <%= attribute.human_name %>:
  = @<%= singular_name %>.<%= attribute.name %>
<% end -%>

== #{ link_to t(:edit_<%= singular_name %>_link), edit_<%= singular_name %>_path(@<%= singular_name %>) } | #{ link_to t(:back_link), <%= plural_name %>_path }
